.app {
  width: 800px;
  background-color: #030303;
  color: #e4e4e4;
  border: 10px solid #018695;
  padding: 30px;
}
.app__title {
  text-align: center;
}
.cont {
	margin-bottom: 15px;
}
pre {
  width: 800px;
  height: 400px;
  overflow: auto;
}
